body{
  margin: 20px;
  text-align: center;
  background-color: #91F5AD;
}

:root{
  font-size: 62.5%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button#botaoMais, button#botaoMenos{
  font-size: 1.6rem;
  padding: 0.3rem 0.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

input#ovoBranco, input#ovoVermelho{
  display: none;
}